// Here you can add other styles
$primary-color-light: #7a7aaf;
$primary-color-light-shadow: #7a7aaf85;
$primary-color: #474787;
$secondary-color: #2d2d57;

.text-primary-color-light {
  color: $primary-color-light;
}

.text-black-25 {
  color: #bdc3c7;
}

.checkbox {
    width: 100%;
    margin-left: -4px;
    position: relative;
    display: block;
    label {
        position: relative;
        min-height: 34px;
        display: block;
        padding-left: 30px;
        margin-bottom: 0;
        font-weight: normal;
        cursor: pointer;
        span {
            position: absolute;
            top: 38%;
            transform: translateY(-50%);
        }
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            margin: 4px;
            width: 18px;
            height: 18px;
            transition: transform 0.28s ease;
            border-radius: 3px;
            border: 0.12rem solid #d5d8db;
        }
        &:after {
            content: '';
            display: block;
            width: 8px;
            height: 5px;
            border-bottom: 2px solid $secondary-color;
            border-left: 2px solid $secondary-color;
            transform: rotate(-45deg) scale(0);
            transition: transform ease 0.25s;
            position: absolute;
            top: 10px;
            left: 9px;
        }
    }
    input[type="checkbox"] {
        width: auto;
        opacity: 0.00000001;
        position: absolute;
        left: 0;
        margin-left: -20px;
        &:checked ~ label{
            &:before {
                border: 2px solid $primary-color-light;
            }
            &:after {
                transform: rotate(-45deg) scale(1);
            }
        }
        &:focus + label::before {
            outline: 0;
        }
    }
}


.css-yk16xz-control {
  border-color: #d8dbe0 !important;
}

.css-1uccc91-singleValue {
  color: #768192 !important;
}

.css-1pahdxg-control {
  box-shadow: 0 0 5px 1px $primary-color-light !important;
  border-color: $primary-color-light !important;
}

.css-1pahdxg-control:hover {
  border-color: $primary-color-light !important;
}

.icon-button{
  font-size: 30px;
  cursor: pointer;
}

.pointer{
  cursor: pointer;
}

// active sidebar
.c-active {
  border-radius: 30px 0px 0px 30px;
}


// rounded
.rounded-1 {
  border-radius: 10px;
}

.rounded-2 {
  border-radius: 20px;
}

.rounded-3 {
  border-radius: 30px;
}


.border-black-50 {
  border: 1px solid #bdc3c7; 
  border-radius: 15px;
} 


.text-primary-color {
  color: $primary-color;
}

.text-secondary-color {
  color: $secondary-color;
}

.line-white{
  border-color: #fff;
}

.line-black-50{
  border-color: rgb(129, 129, 129);
}

.bg-primary-color-light-gradient {
  background-image: linear-gradient(to right, $primary-color-light , $primary-color);
  color: #fff !important;
}

.bg-primary-color-light {
  background: $primary-color-light !important;
  color: #fff !important;
}

.bg-primary-color {
  background: $primary-color !important;
  color: #fff !important;
}

.bg-secondary-color {
  background: $secondary-color !important;
  color: #fff !important;
}


.f-10 {
  font-size: 10px;
}

.react-datepicker-wrapper{
  width: 100%;
}

.w-100 {
  width: 100% !important;
}

.w-100-p {
  width: 100px;
}

.w-200-p {
  width: 200px;
}

.w-75-p {
  width: 75px;
}

.mt--15 {
  margin-top: -15px;
}

.mt--13 {
  margin-top: -13px;
}

.mt--10 {
  margin-top: -10px;
}

.mt--06 {
  margin-top: -6px;
}

.mt--04 {
  margin-top: -4px;
}

.mt--1 {
  margin-top: -10px;
}

.mt--2 {
  margin-top: -20px;
}

.rounded-1 {
  border-radius: 10px;
}

.rounded-3 {
  border-radius: 30px;
}

.rounded-5 {
  border-radius: 50px;
}

.c-box-shadow {
  box-shadow : 4px 0px 16px 1px rgba(0,0,0,0.2);
}

// SIDEBAR
.c-sidebar .c-sidebar-nav-link:hover, .c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
    color: #fff;
    background: $secondary-color;
}

.c-sidebar.c-sidebar-minimized .c-sidebar-nav-item:hover > .c-sidebar-nav-link, .c-sidebar.c-sidebar-minimized .c-sidebar-nav-item:hover > .c-sidebar-nav-dropdown-toggle {
    background: $secondary-color;
}

.c-sidebar.c-sidebar-light.c-sidebar-minimized .c-sidebar-nav-item:hover > .c-sidebar-nav-link, .c-sidebar.c-sidebar-light.c-sidebar-minimized .c-sidebar-nav-item:hover > .c-sidebar-nav-dropdown-toggle {
    background: $secondary-color;
}

.c-sidebar.c-sidebar-light.c-sidebar-minimized .c-sidebar-nav > .c-sidebar-nav-dropdown:hover {
    background: $secondary-color;
}
  
.c-sidebar .c-sidebar-nav-link.c-sidebar-nav-link-primary, .c-sidebar .c-sidebar-nav-link-primary.c-sidebar-nav-dropdown-toggle {
    background: $secondary-color;
}

.c-sidebar.c-sidebar-minimized .c-sidebar-nav > .c-sidebar-nav-dropdown:hover {
    background: $secondary-color;
  }

@media (hover: hover), (-ms-high-contrast: none) {
    .c-sidebar.c-sidebar-light .c-sidebar-nav-link:hover, .c-sidebar.c-sidebar-light .c-sidebar-nav-dropdown-toggle:hover {
      color: #fff;
      background: $secondary-color;
    }
    .c-sidebar.c-sidebar-light .c-sidebar-nav-link:hover .c-sidebar-nav-icon, .c-sidebar.c-sidebar-light .c-sidebar-nav-dropdown-toggle:hover .c-sidebar-nav-icon {
      color: #fff;
    }
    .c-sidebar.c-sidebar-light .c-sidebar-nav-link:hover.c-sidebar-nav-dropdown-toggle::after, .c-sidebar.c-sidebar-light :hover.c-sidebar-nav-dropdown-toggle::after {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='%23fff' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E");
    }
}



// DATATABLES
.pagination.justify-content-start {
  justify-content: center !important;
}

.c-datatable-filter {
  margin-bottom: 20px;
}

.c-datatable-filter .form-control {
  display: inline-block;
  width: 100%;
  height: calc(1.4em + 0.75rem + 2px) !important;
}

.c-datatable-filter .mfe-2 {
  display: none;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: $primary-color;
  border-color: $primary-color;
}